.idea
.DS_Store
_build/**
.conf
.tmp_file
source/EssentiaPublic/output/
task.log
gitcred.sh
findcommands.sh
sed.sh
source/EssentiaPublic/casestudies/apache/order.txt
source/EssentiaPublic/casestudies/aq/order.txt
source/EssentiaPublic/casestudies/casino/order.txt
source/EssentiaPublic/casestudies/order.txt
source/EssentiaPublic/executeorder.sh
source/EssentiaPublic/order.sh
source/EssentiaPublic/order.txt
source/EssentiaPublic/rmtasklogs.sh
source/EssentiaPublic/sed.sh
source/EssentiaPublic/tutorials/map-reduce/order.txt
source/EssentiaPublic/tutorials/order.txt
source/EssentiaPublic/tutorials/woodworking/order.txt
source/reference/manpages/conf.py
source/reference/manuals/_build/doctrees/
source/reference/manuals/_build/man/ess-repository.1
source/reference/manuals/essentia-ref.rst.save
source/reference/manuals/essfull.rst
source/reference/manuals/essupdates.txt
source/reference/manuals/git-add.1
source/reference/manuals/git.1

